/* General  */
:root {
    --max-width: 1550px;
    --min-width: 10px;
    --accent-color: black;
  }
  
  * {
    box-sizing: border-box;
  }
  
  html,body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-size: cover;
    justify-content: center;
    background-image: url(portada.jpg);
    background-position: center;
    color: #F7FFF7;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  /* Container */
  .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    min-width: var(--min-width);
  }
  
  .header,
  .content,
  .footer {
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    max-width: var(--max-width);
  }
  
  /* Header */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #759FBC;
    
  }
  
  .logo {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
  }
  
  .logo__img {
    margin-right: 0.2rem;
  }
  
  .menu-list {
    margin: 0;
  
  }
  
  .menu-list__item {
    display: inline-block;
    margin: 0.2rem;
    font-size: 15px;
    color: black;
    
  }
  
  .menu-list__item:last-child {
    margin-right: 0;
  }

  
  /* Content */
  .content {
    max-width: var(--max-width);
    flex-grow: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position:relative;
  }

  .slideButton {
    position: absolute;
    top: 100%;
    transform: translateY(-100%);
    font-size: 5rem;
    cursor: pointer;
    color: black;
  }
  
  .prevSlide {
    left: -2rem;
  }
  
  .nextSlide {
    right: -2rem;
  }
  
  .content__claim {
    font-size: 40px;
    color: black;
    margin: 0;
    position: center;
  }
  
  .content__subclaim {
    font-size: 15px;
    margin: 0.2rem 0;
    margin-bottom: 2rem;
  }
  
  /* Footer */
  .footer-wrapper {
    background-color:#759FBC;
    
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
  }
  
  .footer__widget {
    font-size: 15px;
  }
  
  .footer_widget_title {
    color: var(--accent-color);
    margin: 0 0 1rem 0;
  }
  
  .footer_widget_text {
    margin: 0;
  }
  
  /* Responsive stuff */
  @media screen and (max-width: 1280px) {
    .header,
    .footer {
      flex-direction: column;
      text-align: center;
    }
  
    .menu {
      margin-top: 1.2rem;
    }
  
    .content {
      align-items:center;
    }
  
    .footer__widget {
      margin-bottom: 1rem;
    }
  }